.title {
    font-size:50px;
    font-weight:700;
    color: red;
    padding:20px;
    display: flex;
    justify-content: center;
}

.maincontent {
    display:flex;
    justify-content: center;
    gap: 200px;
    margin-top: 70px;
}

.leftside {
    display:flex;
    flex-direction:column;
    gap:20px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3,200px);
    justify-content: center;

}

.square {
    background-color: whitesmoke;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
}

.btn {
    background-color: rgb(10, 170, 10);
    color:white;
    border-radius:15px;
    border:none;
    height: 40px;
    width: 150px;
    font-size: 20px;
    font-weight: 700;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

label {
    margin-right: 20px;
    font-weight: 700;
    font-size: 18px;
}

input {
    border-radius: 15px;
    height: 25px;
    width: 300px;
    font-size:18px;
    font-weight:700;
    padding:0px 5px;
}

.message {
    font-size: 30px;
    font-weight: 700;
    margin-top: 30px;
}