.title {
    font-size:50px;
    font-weight:700;
    color: red;
    padding:20px;
    display: flex;
    justify-content: center;
}

.maincontent {
    display:flex;
    justify-content: center;
    gap: 200px;
    margin-top: 70px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3,200px);
    justify-content: center;

}

.square {
    background-color: whitesmoke;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
}